*.pyc
*.log
*.env
mahsa_project/arches.log
mahsa_project/logs
mahsa_project/export_deliverables
mahsa_project/cantaloupe/*
mahsa_project/staticfiles
mahsa_project/media/packages
node_modules
mahsa_project/media/build
mahsa_project/uploadedfiles
mahsa_project/system_settings
mahsa_project/settings_local.py
webpack/webpack-stats.json
*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/
.vscode/
CACHE
