*.pyc
*.log
*.env
mahsa_project/arches.log
mahsa_project/logs
mahsa_project/export_deliverables
mahsa_project/cantaloupe/*
mahsa_project/staticfiles
mahsa_project/media/packages
mahsa_project/media/node_modules
mahsa_project/media/build
mahsa_project/uploadedfiles
mahsa_project/system_settings
mahsa_project/settings_local.py
mahsa_project/webpack/webpack-stats.json
mahsa_project/webpack/webpack-user-config.js
.vscode/
CACHE
